body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(84, 83, 85);
  background: radial-gradient(circle, rgba(84, 83, 85, 1) 0%, rgba(23, 23, 23, 1) 32%);
  background-repeat: no-repeat;
  color: #dbdbdf;
  min-height: 100svh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.active-text {
  color: #f3a84d;
}

.faded-text {
  font-size: 12px;
  color: rgb(203, 196, 196);
}